<div class="container-fluid py-4">
	<div class="row">
			<div class="d-inline-block">
				<div class="card shadow-lg border-dark ml-2" style="width:18rem;">
					<h3 class="card-header text-center font-weight-bold" style="background-color:#fb8303;">
						<%= @staff.family_name %>
						<%= @staff.given_name %>
					</h3>

					<div class="card-body text-center">
						<%=  image_tag @qrpng ,class:"img-thumbnail mx-auto border-dark my-5", :size =>'250x250' %>
					</div>
					<div class="card-footer text-center ">
						<p>所属店舗</p>
						<b><%= @staff.store.store_name %></b>
					</div>
				</div>
			<button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#ModalCenter">スタッフ情報編集</button>

	    	<!-- モーダルの設定 -->
		    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		      <div class="modal-dialog modal-dialog-centered" role="document">
		        <div class="modal-content">
		          <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
		              <span aria-hidden="true">&times;</span>
		            </button>
		          </div>

		          <div class="modal-body">

		          	<%= render 'staffs/edit', staff:@staff %>

		          </div>

		          <div class="modal-footer">
		              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
		          </div>

		        </div>

		      </div>
		    </div>
			</div>

			<div class="d-inline-block">
				<div class="card shadow-lg border-dark ml-3" style="width:100%;">
			    <div class="card-header lead" style="background-color:#fb8303;">
				    <span class="font-weight-bold"><%= @staff.store.store_name %></span>
				    <div class="form-inline float-right">
						  	<%= search_form_for @search, url:staff_path do |f| %>
  								<%= f.date_select :in_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / ', start_year: 2018,}, class: "form-control" %> 〜
    							<%= f.date_select :in_lteq, {use_month_numbers: true, date_separator: ' / ', default: Date.today,start_year: 2018}, class: "form-control" %>
  								<%= f.submit "検索",class:"btn btn-outline-dark btn-sm" %>
  								<%= link_to '検索条件クリア', request.path,class:"btn btn-outline-secondary btn-sm" %>
								<% end %>
							</div>
				  </div>

			    <div class="card-body bg-light">
				    <span class="card-title font-weight-bold">
				    	<%= @staff.family_name %>
					    <%= @staff.given_name %>
					    <%= link_to "勤怠追加", staff_work_add_path(params[:id]), class:"btn btn-outline-warning btn-sm float-right" %>
					   </span>
					    	<p class="card-text pt-2 border-bottom">合計労働時間  <%= h_mm(totalwork(@works))%></p>
					    	<p class="card-text border-bottom"> 合計休憩時間 <%= h_mm(@breaks) %></p>
					    	<p class="card-text border-bottom"> 総労働時間 <%= h_mm(totalwork(@works) - @breaks) %></p>
		  		</div>

			    <table class="table table-hover">
			      <thead class="bg-light">
			        <tr>
			          <th>編集</th>
								<th>シフトin</th>
								<th>シフトout</th>
								<th>勤務時間</th>
								<th>休憩時間</th>
								<th>深夜時間</th>
								<th>総労働時間</th>
			        </tr>
			      </thead>

						<% @works.order(:in).each do |workday| %>

						<tbody>
							<tr>
								<th><%= link_to 'edit',edit_staff_work_path(@staff,workday.id), class: 'btn btn-outline-info btn-sm' %></th>
								<td><%= workday.in.strftime('%Y年%m月%d日 %H:%M:%S') %></td>

							<% if workday.out.present?  %>

								<td><%= workday.out.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
								<td>
									<% sec = (workday.out.in_time_zone - workday.in.in_time_zone) %>
									<%= h_mm(sec) %>
								</td>

							<% else %>

								<td>出勤中</td>
								<td>未確定</td>

							<% end %>

							<% time = 0 %>

							<% workday.breaks.each do |break_time| %>


								<% unless break_time.break_out.blank? %>

									<% off_time = (break_time.break_out.in_time_zone - break_time.break_in.in_time_zone) %>

									<% time += off_time %>

								<% end %>

							<% end %>

								<td>
									<% if time == 0 %>

										無し

									<% else %>

										<%= h_mm(time) %>

									<% end %>

								</td>

								<td>深夜</td>
								<td>
									<% if sec == nil %>

										0
									<% else %>

										<%= h_mm(sec - time) %>

									<% end %>
								</td>

							</tr>
						</tbody>

						<% end %>
					</table>
		  	</div>
			</div>
	</div>
</div>