<div class="container py-5">
	<div class="row justify-content-center">
		<div class="card w-75 shadow-lg">
			<div class="card-body">
			<p class="flash-message text-info text-center">
				<%= flash[:admin_updated] %>
			</p>
				<table class="table">
					<thead style="background-color:#fb8303;">
						<tr>
							<th>管理者</th>
							<th>担当店舗</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @admin.each do |admin| %>
						<tr class="bg-light">
							<% if admin.is_main_administer == true %>
							<td class="text-danger">
								<%= admin.family_name %>
								<%= admin.given_name %>
							</td>
							<% else %>
								<td>
								<%= admin.family_name %>
								<%= admin.given_name %>
							</td>
							<% end %>
								<% if admin.store_id.present? %>
									<td><%= admin.store.store_name %></td>
								<% elsif admin.is_main_administer == true %>
									<td class="text-danger">メイン管理者</td>
								<% else %>
									<td>所属店舗無し</td>
								<% end %>
							<td><%= link_to "編集", edit_admin_path(admin), class:"btn btn-outline-secondary" %></td>
						</tr>

						<% end %>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>