<div class="container my-5">
  <div class="row justify-content-center">
    <div class="card w-75 shadow-lg">
      <div class="card-header text-center h4 font-weight-bold" style="background-color:#fb8303;">管理者追加</div>
      <div class="card-body">
        <%= devise_error_messages! %>
          <%= form_for(@resource, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
              <div class="card-body">
            <div class="form-group">
              <p class="badge badge-light">名前(姓)</p>
            <%= f.text_field :family_name, class:"form-control" %>
              <p class="badge badge-light mt-2">名前(名)</p>
            <%= f.text_field :given_name, class:"form-control" %>
              <p class="badge badge-light mt-2">名前カナ(セイ)</p>
              <%= f.text_field :family_name_kana, class:"form-control" %>
              <p class="badge badge-light mt-2">名前カナ(メイ)</p>
              <%= f.text_field :given_name_kana, class:"form-control" %>
              <p class="badge badge-light mt-2">所属店舗</p>
                <%= f.collection_select :store_id ,@store ,:id ,:store_name ,{}, {class:"form-control"} %>
                <%= f.submit '追加', class:"btn btn-outline-info mt-3" %>
                <%= link_to 'キャンセル',root_path, class:" mt-3 float-right" %>

          <% end %>

          </div>

      <%#= render "admins/shared/links" %>
    </div>
  </div>
</div>

