<div class="container py-5">
	<div class="row justify-content-center">
		<div class="card w-100 shadow-lg">
			<div class="card-header" style="background-color:#fb8303;">
				<span class="h3 font-weight-bold">
					<% if @store.staffs.present? %>
						<%= @store.store_name %>&ensp;(<%= @store.staffs.count %>名)
					<% else %>
						<%= @store.store_name%>&ensp;(0名)
					<% end %>
					</span>
				<%= link_to "店舗一覧へ", stores_path, class:"text-secondary" %>
				<div class="form-inline float-right">
			  	<%= search_form_for @search, url:store_path do |f| %>
						<%= f.date_select :in_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / ', start_year: 2018,}, class: "form-control" %> 〜
						<%= f.date_select :in_lteq, {use_month_numbers: true, date_separator: ' / ', default: Date.today,start_year: 2018}, class: "form-control" %>
						<%= f.submit "検索",class:"btn btn-secondary btn-sm" %>
						<%= link_to '検索条件クリア', request.path,class:"btn btn-outline-secondary btn-sm" %>
					<% end %>
				</div>
			</div>

			<!-- 深夜帯の勤怠と休憩の計算 -->
			<% mid_night_works = 0 %>
			<% mid_night_breaks = 0 %>
    	<% @works.each do |w| %>
	    	<% if @store.staffs.pluck(:id).include?(w.staff_id) && w.out != nil %>
	    		<% mid_night_works += midnight(w.in,w.out) %>
	    			<% w.breaks.each do |b| %>
	    				<% unless b.break_out.blank? %>
	    					<% mid_night_breaks += midnight(b.break_in,b.break_out) %>
	    				<% end %>
	    			<% end %>
	    	<% end %>
			<% end %>

			<div class="card-body">
				<% if @outyet != nil %>
				<span class="text-danger font-weight-bold h4">出勤中 <%= @outyet %>名</span>
				<% end %>
				<div class="card-text float-right mb-5">
					<span class="border-bottom text-secondary font-weight-bold h4" >
						勤怠合計&nbsp;<%= h_mm(@sum - mid_night_works) %>&emsp;
					</span>
					<span class="border-bottom text-secondary font-weight-bold h4" >
						深夜合計&nbsp;<%= h_mm(mid_night_works) %>&emsp;
					</span>
					<span class="border-bottom text-secondary font-weight-bold h4" >
						休憩合計&nbsp;<%= h_mm(@offtime) %>&emsp;
					</span>
					<span class="border-bottom font-weight-bold h4" >
						実働合計&nbsp;<%= h_mm(@sum - @offtime) %>&emsp;
					</span>
				</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-secondary h5 font-weight-bold">Staff</th>
								<th class="text-secondary h5 font-weight-bold">勤務時間</th>
								<th class="text-secondary h5 font-weight-bold">休憩時間合計</th>
								<th class="text-secondary h5 font-weight-bold">実働時間合計</th>
							</tr>
						</thead>
						<tbody>
						  <% @store.staffs.each do |staff| %>
								<tr>
								  <th>
								    <%= link_to "#{staff.family_name}#{staff.given_name}",staff_path(staff), class:"text-dark" %>
								  </th>
							  <% work_total = 0 %>

							  <% break_total = 0 %>

								<% @working = @works.where(staff_id: staff.id) %>

								<% @working.each do  |work_time| %>
									<% if work_time.out != nil %>
									<% work_total += work_time.out.in_time_zone - work_time.in.in_time_zone %>
									<% end %>
										<% work_time.breaks.each do |break_time| %>
											<% unless break_time.break_out.blank? %>
												<% break_total += break_time.break_out.in_time_zone - break_time.break_in.in_time_zone %>
											<% end %>
										<% end %>
									<% end %>
								  <th><%= h_mm(work_total) %></th>
								  <th><%= h_mm(break_total) %></th>
									<th><%= h_mm(work_total - break_total) %></th>
								</tr>
								<% end %>
						</tbody>
					</table>

					<% if current_admin.is_main_administer == true %>

	          <button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#ModalCenter">店舗名編集</button>
	          <!-- モーダルの設定 -->
	          <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	            <div class="modal-dialog modal-dialog-centered" role="document">
	              <div class="modal-content">
	                <div class="modal-header">
	                  <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
	                    <span aria-hidden="true">&times;</span>
	                  </button>
	                </div>

	                <div class="modal-body">
	                  <%= render 'stores/edit', store:@store %>
	                  <p class="text-center text-danger">※所属スタッフがいる場合削除は出来ません。</p>
	                </div>

	                <div class="modal-footer">
	                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
	                </div>

	              </div>

	            </div>
	          </div>
          <% end %>
			</div>
		</div>
	</div>
</div>