<div class="container py-5">
	<div class="row justify-content-center">
		<div class="card w-100">
			<div class="card-header" style="background-color:#fb8303;">
				<h4><%= @store.store_name %></h4>
				<strong>出勤中 <%= @outyet %>名</strong>
				<div class="form-inline float-right">
			  	<%= search_form_for @search, url:stores_total_work_path do |f| %>
						<%= f.date_select :in_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / ', start_year: 2018,}, class: "form-control" %> 〜
						<%= f.date_select :in_lteq, {use_month_numbers: true, date_separator: ' / ', default: Date.today,start_year: 2018}, class: "form-control" %>
						<%= f.submit "検索",class:"btn btn-outline-dark btn-sm" %>
						<%= link_to '検索条件クリア', request.path,class:"btn btn-outline-secondary btn-sm" %>
					<% end %>
				</div>
			</div>
			<div class="card-body">
				<div class="card-text float-right mb-3">
					<strong>勤怠合計<%= h_mm(@sum) %>&emsp;</strong>
					<strong>休憩合計<%= h_mm(@offtime) %>&emsp;</strong>
					<strong>実働合計<%= h_mm(@sum - @offtime) %>&emsp;</strong>
				</div>
					<table class="table table">
						<thead>
							<tr>
								<th class="text-secondary">Staff</th>
								<th class="text-secondary">勤務時間</th>
								<th class="text-secondary">休憩時間</th>
								<th class="text-secondary">総労働時間</th>
							</tr>

						</thead>
						<tbody>
						  <% @store.staffs.each do |staff| %>
								<tr>
								  <td>
								    <%= link_to "#{staff.family_name}#{staff.given_name}",staff_path(staff), class:"text-dark" %>
								  </td>
								  <% work_total = 0 %>
								  <% break_total = 0 %>
									<% @working = @works.where(staff_id: staff.id) %>
									<% @working.each do  |work_time| %>
										<% if work_time.out != nil %>
										<% work_total += work_time.out.in_time_zone - work_time.in.in_time_zone %>
										<% end %>
											<% work_time.breaks.each do |break_time| %>
												<% unless break_time.break_out.blank? %>
													<% break_total += break_time.break_out.in_time_zone - break_time.break_in.in_time_zone %>
												<% end %>
											<% end %>
									<% end %>
								  <td><%= h_mm(work_total) %></td>
								  <td><%= h_mm(break_total) %></td>
									<td><%= h_mm(work_total - break_total) %></td>
								</tr>
						</tbody>
						<% end %>
					</table>
			</div>
		</div>
	</div>
</div>